 *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
 }
 /* ------hover effect -------start  */

 #course .box:hover{
    background-color:#E2E8F0;
    transition:all 0.5s;
 }

 
 /* ------hover effect -------end */

 /* BUTTON SECTION START */
 .btn-outline-premiry{
    padding:10px 15px;
    color:white;
    font-size:15px;
    font-weight:semibold;
    background-color:blue;
    border-radius:5px;
    border:none;
}
 .btn-outline-white{
    padding:10px 5px;
    color:gray;
    font-size:15px;
    font-weight:semibold;
    background-color:white;
    border-radius:5px;
    border:1px solid gray;
}
.btn-outline-white:hover{
    padding:10px 5px;
    color:white;
    font-size:15px;
    font-weight:semibold;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    border-radius:5px;
    border:1px solid white;
}
.btn-outline-accent{
    padding:10px 15px;
    color:white;
    font-size:15px;
    font-weight:semibold;
    background-color:purple;
    border-radius:5px;
    border:none;
    transition: all 0.4s ;
}

.btn-outline-accent:hover {
    padding:10px 15px;
    color:purple;
    font-size:15px;
    font-weight:semibold;
    background-color:white;
    border-radius:5px;
    border:1px solid purple;
}

.btn-outline-danger{
    padding:10px 15px;
    color:white;
    font-size:15px;
    font-weight:semibold;
    background-color:red;
    border-radius:5px;
    border:none;
}
.Modal .Header{
    background-color:#803486;
    color:white;

}

 /* BUTTON SECTION END */

 /* ---comman property----start */

 .center{
    text-align:center;
}
.text-green{
    color:green;
}
.text-light-gray{
    color:#808B96;
}
.text-purple{
    color:#803486;
}
.text-orange{
    color:orange;
    box-shadow:1px 1px 3px 2px gray;
}
.margin-left{
    margin-left:20px;
}
.margin-100{
    margin-bottom:100px;
}

 /* ---comman property----end */

 /* ALL COMPONENTS SECTION START*/
 /* ......Aboutus..................................start */
 .aboutus-section{
    background-color:#F7F4F4;
    height:auto;
    padding:40px;

 }
 .aboutus-section .aboutus-container{
    background-color:white;
    padding:40px;
    
 }

  .aboutus-section .aboutus-container .img-aboutus{
     
     box-shadow:1px 1px 4px 3px #F7F4F4;
     border-radius:30px;
     margin-bottom:30px;
     text-align:center;
  }

  .aboutus-section .aboutus-container .img-aboutus img{
    width:200px;
    height:200px;
    border-radius:50%;
    
    background-color:#F7F4F4;
  }
  .aboutus-section .aboutus-container .content-aboutus{
     box-shadow:1px 1px 4px 3px #F7F4F4;
     height:200px;
     padding:20px;
     border-radius:30px;
     margin-bottom:30px;
  }

  .aboutus-section .aboutus-container .about-your-self{
    box-shadow:1px 1px 4px 3px #F7F4F4;
    height:400px;
    border-radius:30px;
    padding:20px;
  }
 /* ......Aboutus..................................end */
/* ...............Photoslider start........................... */
#Photoslider-section{
    position:relative;
    height:auto;
   

}
#Photoslider-section .height-box-image{
    height:400px;
    background-color:green;
    border-radius:20px;
}
#Photoslider-section .height-box-image img{
    width:100%;
    height:100vh;

}
/* #Photoslider-section .Carousel .Item img{

        height:100px;
} */
.Register-form{
    position:absolute;
    right:40px;
    top:100px;
    padding:20px;
    background-color:#ffffff;
    box-shadow:3px 4px 5px blur white;
    border:15px solid #e2e2e2;
     z-index:2;
}



/* ...............Photoslider end.......................... */

/* ................Notice start............................ */
  #Notice-section{
    height:800px;
    background-color:#F5F5F4;
    position:relative;
    overflow:hidden;
    
  }
#Notice-section .mySwiper{
    background-color:purple;
    padding:40px 10px;
    border:1px solid #c7cbcfff;
}
 
.mySwiper{
    width:100%;
    height:500px;
}



.latest-post .heading-post  {
    background-color:purple;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color:white; */
    line-height:50px;
    height:50px;
    width:270px;
    padding:15px;
    text-align:center;
    color:gray;
    box-shadow:1px 1px 5px 5px #cbd0d6ff;
    
}



/* -----Important link and other details--------- start*/
 
 
/* -----Important link and other details--------- end*/


/*----Notice Placement Section ------start*/
.Notice-section .latest-post{
    
}
.Notice-section .latest-post .mySwiper{
    background-color:green;
}
.card{
    /* background-color:white; */
    box-shadow:0px 0px 1px #cbd0d6ff;
    width:200px;
    height:400px;
    padding:10px;
    border-radius:20px;
    color:black;
}

 .img-card{
    width:100%;
    height:100%;
    border:1px solid gray;

}

.img-card img{
    width:100%;
    height:200px;
}

.card .content{
    margin-top:10px;
}

/*----Notice Placement Section ------end*/

/* .....Notice Annoucement Section .....start */
.card-2{
    /* background-color:white; */
    box-shadow:0px 0px 1px #cbd0d6ff;
    width:100%;
    height:auto;
    padding:10px;
    border-radius:20px;
    color:white;
}
/* .....Notice Annoucement Section .....end */

/* ................Notice end............................ */
/* ................Course start.......................... */
#course{
    height:auto;
    padding :100px 0px;   
}
#course .box{
    display:flex;
    position:relative;
    border-radius:20px;
    padding:10px 10px 10px 15px;
    /* background-color:#e2e2e2; */
    background-color:white;
    margin-bottom:30px;
    box-shadow:1px 1px 5px 1px gray;
    transition:all 0.5s;
    height:300px;
     
   
    
}
#course .box .img{
    /* width:300px;
    height:300px; */
    width:50%;
    /* background-color:gray; */
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
     border-radius:20px 0px 0px 20px;
}

#course .box .img img{
    width:200px;
    height:200px;
    background-color:yellow;
}

#course .box .course-detail{  
    width:50%;
    height:auto;
    /* background:linear-gradient(rgb(233, 221, 221),rgb(219, 212, 212)); */
    background-color:white;
     border-radius:0px 20px 20px 0px;
}

 #course .box .course-detail .Heading{
    /* background-color:#803486; */
    background-color:white;
    height:40px;
    padding:7px 0px;
    color:black;
    text-align:center;
}
.h3{
    background-image:linear-gradient(to right,blue,#3B6411,green);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
}


 #course .box .course-detail .course-row .h3{
    /* color:linear-gradient(rgb(#7CCF35),rgb(#FF692A)); */
    /* background-image:linear-gradient(to right,blue,#3B6411,green);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent; */
} 
#course .box .course-detail .course-row p{
    padding:5px 10px;
}
#course .box .course-detail .btn{
    padding:0px 6px;
    border:none;

}

  .course-tag{
    position:absolute;
    display:flex;
    width:200px;
    height:60px;
    background:linear-gradient(to right,red,#155DFC);
    color:white;
    font-weight:bold;
    border:1px solid red;
    border-radius:20px 0px 20px 0px;
    align-items:center;
    justify-content:center;
    
}

.icon-background{
    width:30px;
    height:30px;
    color:green;
    border:1px solid #E2E8F0;
    display:flex;
    justify-content:center;
    align-items:center;
}
/*
#course .box{
    background-color:white;
    box-shadow:0px 0px 1px gray;
    width:400px;
    height:auto;
    padding:20px;
    border-top:10px solid blue;
    border-bottom:10px solid red;
    border-radius:3px;
    position:relative;
    margin-bottom:100px;

}
#course .box .img{
   
    width:100%;
    height:100%;
}


.course-detail p{
    padding:auto 10px;
}
.course-row{
    border-bottom:1px solid white;
}

    */
/* ................Course end.......................... */
/* ................Gallery start........................ */
#Gallery-section{
    height:auto;
    background-color:#e2e2e2;
    padding:100px 0px;
}

#Gallery-section .container .row .tabs { 
    padding:0px 450px;
}

.gallery-width{
    width:400px;
    height:100%;
    border-radius:30px;
    margin:20px 0px;

    
}

#Gallery-section .gallery-width img{
    border-radius:30px;
    transition: 0.6s all;
}

#Gallery-section .gallery-width:hover img{
    transform: scale(1.05);
}

.margin-30{
    margin-bottom:30px;
    margin-top:100px;
}

.margin-b-50{
    margin-bottom:50px;
}
.margin-50{
    margin:10px 0px 50px 0px;
}


/* ................Gallery end........................ */
/* ................Status start......................... */
#Status-section{
    height:auto;
   
    padding:100px 0px;
}
#Status-section .status-box{
    text-align:center;
    border:2px solid gray;
    padding:20px 0px;
    background-color:#803486;
    color:white;
    transition: 0.6s all;
    
    
}
#Status-section .status-box:hover{
    background-color:white;
    color:#803486;
}
#Status-section .status-box h3{
    font-weight:normal;
    font-size:24px;
    margin:20px 0px;
}

#Status-section .status-box h2{
    font-weight:semibold;
}

/* ................Status end......................... */
/* ................Bulk Message start.................. */
#Bulk_Message{
    height:auto;
    background-color:green;
}
/* ................Bulk Message end.................. */
/* ................Contact start...................... */
#Contact-section{
    height:auto;
    background-color:#e2e2e2;
    padding:100px 0px;
}

#Contact-section .google-map{
    border:1px dashed #803486;
   
    
}
#Contact-section #address-detail .google-address{
    width:100%;
    height:300px;
    border:1px dashed #803486;
    position:relative;
    text-align:center;
    padding:70px 0px;

}


.location{
     margin:0px 0px 20px 0px;
    border:2px dashed #803486;
}

.form{
    text-align:center;
    justify-content:center;
     background-color:gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-bottom:1px solid gray;
    margin:100px 0px;
    border-radius:5px;
    color:white;

}
.form .main{
}
.align-left{
    text-align:left;
}



.modal .modal-header{
    background-color:#803486;
    color:white;
    
}
.modal .modal-body{
    background-color:#803486;
    color:white;
}

.modal .modal-footer{
    background-color:#803486;
    color:white;
}


/* ................Contact end...................... */


 /* ALL COMPONENTS SECTION END*/


 /* RESPONSIVE SECTION START */

 /* RESPONSIVE SECTION END */