*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}
/* ........Button section..........start */
.preview-button{
    width:100%;
    height:45px;
    background-color:purple;
    color:white;
    border-radius:20px; 
}
/* ........Button section..........end */

/* ..........TOP-HEADER START.................. */
/* ..........TOP-HEADER END.................. */
/* ...........HEADER START..................... */
/* ...........HEADER END..................... */




/* ...........FOOTER START................... */
#footer-section{
    background-color:#800080;
    color:white;
    height:auto;
    padding:50px 0px;
    overflow:hidden;   
}

#footer-section a{
    font-size:18px;
    font-weight:bold;
}

#footer-section .image-logo{
    border-radius:50%;

}

#footer-section .container .row  .logo .brand{
    text-align:center;
}

.logo {
     margin-bottom:25px; 
}

#footer-section .container .row  .contact{
    margin-left:30px;
    margin-bottom:30px;
}

 #footer-section .container .row  ul {
    margin-top:15px;
    
} 

#footer-section .container .row  ul li a {
    text-decoration:none;
    color:white;
    font-weight:normal;
}

#footer-section .container .row  ul li a:hover {
    
    color:pink;
    
}

/* ...........Footer part two start................ */

#footer-section  .container #footer-part-2 .footer-first{
    
    text-align:center;
    padding:10px 80px 10px 0px;
    
} 
#footer-section  .container #footer-part-2 .footer-second{
   text-align:center;
   padding:10px 80px 10px 0px;
   
} 

#footer-section  .container #footer-part-2 .footer-second span{
    justify-content:center;
    padding:15px 15px;
    transition: 0.5s all;
}

#footer-section  .container #footer-part-2 .footer-second span a{
    color:white;
}

/* ...........Footer part two end................ */
/* ...........FOOTER END................... */

/* ...............COMMAN SECTION START................. */
.width-height-section{
    width:100%;
    height:auto;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(127, 17, 224, 0.9),rgba(52, 152, 219, 0.7)),url('../public/images/drmoore2.webp');
}

.p-100{
    padding:100px 0px;
}

.width-height-section a{
    color:white;
    text-decoration:none;
}

.syllabus-section{
    width:100%;
    height:auto;
    color:black;
    background-color:#e2e2e2;
    
}

.p-50{
    padding:50px 0px;
}

/* .........navbar in sub menu (dropdown menu)............start */
NavDropdown{
    color:green;
}
/* .........navbar in sub menu (dropdown menu)............end */

/* .................Course Frame ...........................start */

.course-frame{
    background-color: #f7f4f4ff;
    padding:40px 40px 40px 40px;;
    

}
.padding-10{
    padding:10px;
}
.course-frame .colorBackground{
     background-color:white;
     padding-top:20px;
}
/* .........Registration Form Here ......................start */
.form-property{
    
}
.box-3{
    box-shadow:1px 1px 2px 2px #e6dfdfff;
}

.form-reg-here{
    box-shadow:1px 1px 2px 2px #e6dfdfff;
    padding:40px;
    margin-left:20px;
}

.experince-teachers{
   
    padding:30px 20px;
    display:flex;
  
    
}
.experince-teachers .rectangle-box{
    background-color:white;
    color:black;
    width:400px;
    height:200px;
    box-shadow:1px 1px 2px 2px #e6dfdfff;
    border-radius:20px;
    padding:25px 25px;
    margin-right:10px;
    display:flex;
}
.experince-teachers .rectangle-box .img-circle{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:#e2e2e2;
}
.experince-teachers .rectangle-box .profile-teacher{
    color: #e6e2e2ff;
    padding-top:25px;
}

.experince-teachers .rectangle-box .profile-teacher p{
    padding-left:20px; 
    
}

.width-less-100 {
    width:100%;
    height:100px;
    padding:20px;
}

.experince-teachers .rectangle-box .img-circle img{
    width:150px;
    height:150px;
    border-radius:50%;

}

/* .........Registration Form Here ......................end */
/* .................Course Frame ...........................end */
/* ...............COMMAN SECTION END................. */

/* ........Download Section.................start */
.download-section{
    height:auto;
    background-color:#F7F4F4;
    padding:40px;
}

.download-section .download-container{
    background-color:white;
    padding:40px;

}

.download-section .download-container .image-view-download{
    background-color:#F7F4F4;
    height:450px;
    width:100%;
}
.download-section .download-container .image-view-download .img-upload-download{
    box-shadow:1px 1px 3px 3px #F7F4F4;
}

.download-section .download-container .button-section{
    box-shadow:1px 1px 3px 3px #F7F4F4;
    height:450px;
    padding:30px;
    
}
/* ........Download Section.................end */

/*......RESPONSIVE SECTION START */
@medea screen and(min-width: 376px){

}
@medea screen and(min-width: 576px){
      #footer-section .container .row  ul  {
    text-align:center;  
}

#footer-section .container .row  ul li {
    list-style:none;   
}

}
@medea screen and(max-width: 576px){

 
}

@medea screen and(max-width: 768px){


}

@medea screen and(max-width: 756px){


}

@medea screen and(max-width: 992px){


}
/*......RESPONSIVE SECTION END */
